# Project exclude paths
/venv/
__pycache__/
*.py[cod]
IGenotyper/data/reference.fasta
IGenotyper/data/reference.fasta.part
IGenotyper/data/reference.fasta.part.fai
IGenotyper/data/reference.fasta.mmi
